@import url('https://fonts.googleapis.com/css?family=Galada');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Galada', cursive;
    font-size: 16px;
    color: #333;
    margin: 0;
}

header {
    background-image: radial-gradient(circle, #72d6c9, #54d1ed);
    height: 80px;
}

.nav-logo {
    float: left;
    color: #e00986;
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    line-height: 80px;
}

nav ul {
    float: right;
}

.clear {
    clear: both;
}

